<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151050982231-6eb5gpug2c66dq6vus7i3a99aood1unh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151050982231-6eb5gpug2c66dq6vus7i3a99aood1unh</string>
	<key>API_KEY</key>
	<string>AIzaSyDZER6r5EBc8_Ez6NOXoeLscSC6N73Uuj8</string>
	<key>GCM_SENDER_ID</key>
	<string>151050982231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.realTimeChat</string>
	<key>PROJECT_ID</key>
	<string>realtimechat-72628</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimechat-72628.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151050982231:ios:da4c637c0bbf2ec6b42412</string>
	<key>DATABASE_URL</key>
	<string>https://realtimechat-72628.firebaseio.com</string>
</dict>
</plist>